@{
    ViewBag.Title = "The Vidly Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">ASP.NET MVC 5 course from Udemy.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

