@model Vidly.Models.Movie


@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Model.Name</th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>Genre:</td>
                <td>Release Date:</td>
                <td>Date Added:</td>
                <td>Number in Stock:</td>
            </tr>
        
    </tbody>
</table>